
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}

div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and newer versions of Edge */
}

p::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and newer versions of Edge */
}

div {
  font-size: 15px;
}
h1::-webkit-scrollbar {
display: none;
}

::selection {
  background-color: #e5e7eb; /* Light blue */
  color: #6b7280; /* Dark gray */
}

::-moz-selection {
  background-color: #e5e7eb; /* Light blue */
  color: #6b7280; /* Dark gray */
}
